@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #34d399; /* emerald-400 */
  color: white;
}

a.active {
  @apply text-emerald-600 underline underline-offset-4 font-semibold;
}